[paths]
source =
    nglpy/
    /Users/runner/work/nglpy/nglpy/nglpy/
    /home/runner/work/nglpy/nglpy/nglpy/
    D:\a\nglpy\nglpy\nglpy\

[run]
branch = True
omit =
    nglpy/tests/*
    nglpy/ngl.py
